<div class="container">
    <div class="row">
        <div class="h1 my-4 p-5 bg-info" style="text-align: center ;">
            <h1>{{title}}</h1>
        </div>
        <nav class="nav navbar navbar-expand-sm">
            <ul class="navbar-nav">
                <li class="navitem m-2">
                    <a routerLink="/employees/add" class="nav-link btn btn-danger btn-sm">
                        <i class="fa fa-plus-circle"></i>
                        Add New Employee</a>
                </li>
                <li class="navitem m-2">
                    <a routerLink="/template" class="nav-link btn btn-secondary btn-sm text-white">
                        Template Driven Form</a>
                </li>
                <li class="navitem m-2">
                    <a routerLink="/ReactiveForm" class="nav-link btn btn-primary btn-sm text-white">
                        Reactive Forms</a>
                </li>
                <li class="navitem m-2">
                    <a routerLink="/admin/dashboard" class="nav-link btn btn-primary btn-sm text-white">
                        Dash Board of App</a>
                </li>
                <li class="navitem m-2">
                    <a routerLink="/admin/rights" class="nav-link btn btn-primary btn-sm text-white">
                        App rights</a>
                </li>
                <li class="navitem m-2">
                    <a routerLink="/admin/user" class="nav-link btn btn-primary btn-sm text-white">
                        Current User info</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
